.todoItemAdder {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 50%;
  min-width: 200px;

  font-size: 1.1rem;

  input {
    border-radius: 4px;
    padding: 8px 4px;
    box-sizing: border-box;
    font-size: 1.1rem;
    box-shadow: none;
    font-family: "PT Sans", sans-serif;
  }
}

.addButton {
  margin-left: 16px;

  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  background: none;
  font-size: 1.1rem;
  color: darkgreen;
  cursor: pointer;

  &:focus, &:hover {
    border: 1px solid darkgreen;
  }
}